
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#f3fcff;
    --secondary-color: #e5f2fd;
    --dark: #015c92;
    --midblue: #2d8285;
    --semiblue: #018abe;
    --lightblue: #97cadb;
    --brightblue: #0dcaf0;
    --grey: #3b3b3b;
    --logo-color-one: #6D82CE;
    --logo-color-two: #2A54A7;
    --logo-color-three: #9933EA;
    --logo-color-four: #9EAEFF;

}

/*NAVBAR CSS*/

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

html, body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}


#navbar-button{
    background-color: var(--brightblue);
    border: 0px solid var(--brightblue);
    padding: 5px;
    font-size: 17px;
    text-align: right;
}

#navbar-button:hover{
    background-color: var(--midblue);
}

#nav-item{
    margin-left: 40%;
}

nav{
    background-color: white;
}

.nav-link{
   color: var(--grey);
 
   margin-left: 40px;
}

.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    transition: width .3s;
    background: var(--lightblue);
}

.nav-link active{
    color: var(--semiblue);
}

.nav-link:hover::after{
    width: 100%;
}





/*GENERAL*/

.logo{
    height: 30px;
}

main{
    zoom: 90%;
}

.form-floating{
  margin: 30px 0px 20px 0px;
}


