@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#f3fcff;
    --secondary-color: #e5f2fd;
    --dark: #015c92;
    --midblue: #2d8285;
    --semiblue: #018abe;
    --lightblue: #97cadb;
    --brightblue: #0dcaf0;
    --grey: #3b3b3b;
    --logo-color-one: #6D82CE;
    --logo-color-two: #2A54A7;
    --logo-color-three: #9933EA;
    --logo-color-four: #9EAEFF;

}

body{
    background-image: linear-gradient(
  325deg,
  hsl(211deg 48% 56%) 0%,
  hsl(204deg 56% 55%) 3%,
  hsl(198deg 63% 52%) 7%,
  hsl(193deg 74% 48%) 10%,
  hsl(192deg 66% 55%) 15%,
  hsl(194deg 62% 71%) 20%,
  hsl(195deg 61% 84%) 27%,
  hsl(196deg 61% 96%) 36%,
  hsl(197deg 98% 96%) 47%,
  hsl(197deg 97% 89%) 61%,
  hsl(196deg 97% 82%) 79%,
  hsl(195deg 97% 73%) 100%
    );
    height: 100vh;
}

.form-floating{
    margin: 30px 0px 20px 0px;

}

#signupbtn{
    margin-top: 20px;
}

.msg{
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.msg a{
    text-decoration: none;
    color: var(--logo-color-three);
    font-weight: bold;

}

.btn{
    background-color: var(--logo-color-one);
}
.btn:hover{
    background-color: var(--dark);
}

.container{
    zoom: 90%;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: white;   
}

@media (max-width: 991.98px) {
    body{
        background-color: white;
    }

    .container{
        border: none;
    }
}

