/*COLORS*/

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#f3fcff;
    --secondary-color: #e5f2fd;
    --dark: #015c92;
    --midblue: #2d8285;
    --semiblue: #018abe;
    --lightblue: #97cadb;
    --brightblue: #0dcaf0;
    --grey: #3b3b3b;
    --logo-color-one: #6D82CE;
    --logo-color-two: #2A54A7;
    --logo-color-three: #9933EA;
    --logo-color-four: #9EAEFF;

}

/*NAVBAR CSS*/

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

html, body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

nav{
    background-color: var(--primary-color);
    
}

#navbar-button{
    background-color: var(--brightblue);
    border: 0px solid var(--brightblue);
    padding: 5px;
    font-size: 17px;
}

#navbar-button:hover{
    background-color: var(--midblue);
}

#nav-item{
    margin-left: 40%;
}

.nav-link{
   color: var(--grey);
   font-weight: 600;
   margin-left: 40px;
}

.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    transition: width .3s;
    background: var(--lightblue);
}

.nav-link active{
    color: var(--semiblue);
}



.nav-link:hover::after{
    width: 100%;
}




@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color:var(--secondary-color);
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
  nav{
        background-color: var(--secondary-color);
  }

#nav-item{
    margin-left: 0px;
    padding-top: 10px;
}

.nav-link:hover::after{
    width: 0%;
}

.nav-link:hover{
    color: #97cadb;
}
  .nav-link{
    padding-bottom: 20px;
  }

}

.logo{
    height: 30px;
}


/*NAVBAR CSS ENDS*/


/*LANDING PAGE CSS*/

section{
    background-color: var(--primary-color);
}

.container{
    margin-top: -70px;
}

#name{
    font-family: 'Paytone One', sans-serif;
    color: var(--logo-color-one);
}
#name:nth-child(1){
    color: var(--logo-color-two);
}

#name:nth-child(2){
    color: var(--logo-color-three);
}

#about-content{
    font-size: 17px;
}